.board-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    overflow: auto;
    padding: 25px;

    .board {
        $square-height: 150px;

        max-height: 3 * $square-height;
        max-width: 3 * $square-height;
        min-height: 3 * $square-height;
        min-width: 3 * $square-height;
        display: flex;
        flex-wrap: wrap;
        margin: auto;

        .square {
            height: $square-height;
            width: $square-height;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;

            &.corner {
                // background-color: #ccc;

                &.top.left {
                    transform: rotate(135deg);
                }

                &.top.right {
                    transform: rotate(-135deg);
                }

                &.bottom.left {
                    transform: rotate(45deg);
                }

                &.bottom.right {
                    transform: rotate(-45deg);
                }

                .pair {
                    .stacked {
                        top: -130px;
                    }
                }
            }

            &.side {
                &.top {
                    transform: rotate(180deg);

                    .pair {
                        .stacked {
                            top: -130px;
                        }
                    }
                }

                &.left {
                    transform: rotate(90deg);

                    .pair {
                        .stacked {
                            top: -130px;
                        }
                    }
                }

                &.right {
                    transform: rotate(-90deg);

                    .pair {
                        .stacked {
                            top: -130px;
                        }
                    }
                }

                &.bottom {
                    .pair {
                        .stacked {
                            top: -130px;
                        }
                    }
                }
            }

            &.draw-pile {
                justify-content: center;

                button {
                    height: 66%;
                    width: 66%;
                    background-color: #7d85cb;
                    border-radius: 10px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    line-height: 18px;
                    text-decoration: none;

                    &:disabled {
                        opacity: 0.5;
                    }

                    &:hover {
                        color: #fff !important;
                    }
                }
            }

            .stacked {
                position: relative;

                .in-between-card {
                    height: 3px;
                    background-color: #fff;
                    border: 1.5px solid #7d85cb;
                    border-bottom: 0;
                    border-radius: 5px 5px 0 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .board-container {
        .board {
            $square-height: 105px;

            max-height: 3 * $square-height;
            max-width: 3 * $square-height;
            min-height: 3 * $square-height;
            min-width: 3 * $square-height;

            .square {
                height: $square-height;
                width: $square-height;
            }
        }
    }
}
