.dashboard {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;

    --header-height: 80px;

    .header {
        height: var(--header-height);
    }

    & > *:not(.header) {
        min-height: calc(100% - var(--header-height));
        max-height: calc(100% - var(--header-height));
        width: 100%;
        box-sizing: border-box;
        flex: 1;
        overflow: auto;

        &:not(.kings-corner) {
            padding-bottom: 30px;
        }
    }
}
