.dashboard {
    text-align: center;

    form.opponents {
        width: 200px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .games-in-progress {
        ul {
            width: fit-content;
            margin: auto;

            li {
                text-align: left;
            }
        }
    }
}
