.home {
    button {
        &.sign-out-button {
            margin-top: 50px;
        }
    }

    .game-options {
        max-width: 600px;
        height: 125px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        button {
            height: 100%;
            flex: 1;
            font-size: 24px;
        }

        .vertical-divider {
            height: 100%;
            width: 1.5px;
            background-color: #7d85cb;
        }
    }
}
