.kings-corner {
    display: flex;

    .all-hands .mine,
    .board {
        .card,
        .stacked {
            &:hover {
                cursor: pointer;
            }
        }
    }

    .all-hands {
        display: flex;
        gap: 10px;

        .hand-container {
            height: 100%;
            width: 150px;
            background-color: rgb(198, 203, 255);
            overflow: auto;
            position: relative;
            text-align: center;

            .player-summary {
                margin-bottom: 10px;

                * {
                    margin: 0;
                    white-space: nowrap;
                }

                & > div {
                    display: flex;
                    font-weight: bold;
                    margin-bottom: 12px;

                    &.active {
                        h2 {
                            background-color: lightgreen;
                            color: #000;
                        }
                    }

                    &:not(.active) h2 {
                        background-color: #9fa9ff;
                    }

                    h2 {
                        flex: 1;
                    }

                    .wins {
                        min-width: 25px;
                        background-color: #fff;
                        color: #7d85cb;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                h3 {
                    font-weight: 400;
                }
            }

            .hand {
                .pair {
                    margin: auto;
                }
            }

            @media (prefers-color-scheme: dark) {
                & {
                    background-color: #444;
                }

                .player-summary {
                    & > div {
                        .wins {
                            background-color: #000;
                            color: #c6cbff;
                        }

                        &.active {
                            h2 {
                                background-color: #c6cbff;
                                color: #000;
                            }
                        }

                        &:not(.active) h2 {
                            background-color: #222;
                        }
                    }
                }
            }
        }
    }

    .pair {
        $card-height: 150px;

        height: $card-height;
        width: $card-height * (2 / 3);
        position: relative;

        &.backside .card {
            background-image: url("../images/kings-corner-card-back-min.png") !important;
            background-size: cover;
            border: 2px solid #7d85cb;
        }

        &.empty .card {
            background-color: #c6cbff;
            border: 0;
        }

        &.new > *::after {
            background-color: lightpink;
        }

        &.selected > *::after {
            background-color: yellow;
        }

        &.success > *::after {
            background-color: lightgreen;
        }

        & > *::after {
            border-radius: 5px;
            content: "";
            opacity: 0.5;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .card {
            height: $card-height;
            width: 100%;
            background-size: 100% 100%;
            border: 1px solid #7d85cb;
            border-radius: 5px;
            box-sizing: border-box;
            position: relative;
        }

        @media (prefers-color-scheme: dark) {
            &.empty .card {
                background-color: #333;
                border: 0;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .kings-corner {
        .all-hands {
            .hand-container {
                width: 90px;

                .player-summary {
                    * {
                        font-size: 16px;
                    }
                }

                .hand {
                    .pair {
                        top: 0 !important;
                    }
                }
            }
        }

        .pair {
            $card-height: 105px;

            height: $card-height;
            width: $card-height * (2 / 3);

            .card {
                height: $card-height;
                font-size: 0.7rem;
            }

            .stacked {
                top: -90px !important;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .kings-corner {
        flex-direction: column-reverse;

        .all-hands {
            width: 100%;
            flex-direction: column;

            .hand-container {
                width: 100%;
                display: flex;
                overflow-x: auto;
                overflow-y: hidden;
                padding-top: 10px;

                &.mine {
                    height: 65px;
                }

                &:not(.mine) {
                    height: 40px;

                    .player-summary {
                        & > div {
                            margin-bottom: 0;
                        }
                    }
                }

                .player-summary {
                    height: 100%;
                    min-width: 100px;
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                }

                .hand {
                    height: fit-content !important;
                    display: flex;

                    .pair {
                        top: 0 !important;
                    }
                }
            }
        }
    }
}
