.kings-corner {
  display: flex;
}
.kings-corner .all-hands .mine .card:hover,
.kings-corner .board .card:hover {
  cursor: pointer;
}
.kings-corner .all-hands {
  display: flex;
  gap: 10px;
}
.kings-corner .all-hands .hand-container {
  height: 100%;
  width: 150px;
  background-color: #c6cbff;
  overflow: auto;
  position: relative;
  text-align: center;
}
.kings-corner .all-hands .hand-container .player-summary {
  margin-bottom: 10px;
}
.kings-corner .all-hands .hand-container .player-summary * {
  margin: 0;
  white-space: nowrap;
}
.kings-corner .all-hands .hand-container .player-summary > div {
  display: flex;
  font-weight: bold;
  margin-bottom: 12px;
}
.kings-corner .all-hands .hand-container .player-summary > div.active h2 {
  background-color: lightgreen;
  color: #000;
}
.kings-corner .all-hands .hand-container .player-summary > div:not(.active) h2 {
  background-color: #9fa9ff;
}
.kings-corner .all-hands .hand-container .player-summary > div h2 {
  flex: 1;
}
.kings-corner .all-hands .hand-container .player-summary > div .wins {
  min-width: 25px;
  background-color: #fff;
  color: #7d85cb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kings-corner .all-hands .hand-container .player-summary h3 {
  font-weight: 400;
}
.kings-corner .all-hands .hand-container .hand .pair {
  margin: auto;
}
@media (prefers-color-scheme: dark) {
  .kings-corner .all-hands .hand-container {
    background-color: #444;
  }
  .kings-corner .all-hands .hand-container .player-summary > div .wins {
    background-color: #000;
    color: #c6cbff;
  }
  .kings-corner .all-hands .hand-container .player-summary > div.active h2 {
    background-color: #c6cbff;
    color: #000;
  }
  .kings-corner .all-hands .hand-container .player-summary > div:not(.active) h2 {
    background-color: #222;
  }
}
.kings-corner .pair {
  height: 150px;
  width: 100px;
  position: relative;
}
.kings-corner .pair.backside .card {
  background-image: url("../images/kings-corner-card-back.png") !important;
  background-size: cover;
  border: 2px solid #7d85cb;
}
.kings-corner .pair.empty .card {
  background-color: #c6cbff;
  border: 0;
}
.kings-corner .pair.new > *::after {
  background-color: lightpink;
}
.kings-corner .pair.selected > *::after {
  background-color: yellow;
}
.kings-corner .pair.success > *::after {
  background-color: lightgreen;
}
.kings-corner .pair > *::after {
  border-radius: 5px;
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.kings-corner .pair .card {
  height: 150px;
  width: 100%;
  background-size: 100% 100%;
  border: 0.5px solid #7d85cb;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
}
@media (prefers-color-scheme: dark) {
  .kings-corner .pair.empty .card {
    background-color: #333;
    border: 0;
  }
}

@media only screen and (max-width: 1100px) {
  .kings-corner .all-hands .hand-container {
    width: 90px;
  }
  .kings-corner .all-hands .hand-container .player-summary * {
    font-size: 16px;
  }
  .kings-corner .all-hands .hand-container .hand .pair {
    top: 0 !important;
  }
  .kings-corner .pair {
    height: 105px;
    width: 70px;
  }
  .kings-corner .pair .card {
    height: 105px;
    font-size: 0.7rem;
  }
  .kings-corner .pair .stacked {
    top: -90px !important;
  }
}
@media only screen and (max-width: 700px) {
  .kings-corner {
    flex-direction: column-reverse;
  }
  .kings-corner .all-hands {
    width: 100%;
    flex-direction: column;
  }
  .kings-corner .all-hands .hand-container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .kings-corner .all-hands .hand-container.mine {
    height: 65px;
  }
  .kings-corner .all-hands .hand-container:not(.mine) {
    height: 40px;
  }
  .kings-corner .all-hands .hand-container:not(.mine) .player-summary > div {
    margin-bottom: 0;
  }
  .kings-corner .all-hands .hand-container .player-summary {
    height: 100%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .kings-corner .all-hands .hand-container .hand {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    display: flex;
  }
  .kings-corner .all-hands .hand-container .hand .pair {
    top: 0 !important;
  }
}/*# sourceMappingURL=kings-corner.css.map */