.sign-in {
    min-height: 100%;
    background-image: url("../images/sign-in-bg.jpg");
    background-position: center;
    background-size: auto 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    &::before {
        background-color: #c6cbff;
        content: "";
        opacity: 0.9;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
    }

    .sign-in-form-container {
        width: 250px;
        background-color: #fff;
        border-radius: 20px;
        box-sizing: border-box;
        margin: 20px;
        text-align: center;
        padding: 30px;
        position: relative;
        z-index: 1;

        .logo {
            height: 100px;
        }

        h1 {
            font-size: 36px;
            font-weight: 400;
            margin: 10px 0;
        }

        button.instead,
        input {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                font-size: 20px;
            }

            input {
                &::placeholder {
                    color: #aaa;
                }

                &[type="password"] {
                    font-family: "Arial", sans-serif !important;

                    &::placeholder {
                        font-family: "Rajdhani", sans-serif;
                    }
                }

                /* for Chrome autocomplete */
                &:-webkit-autofill,
                &:-webkit-autofill:focus {
                    box-shadow: 0 0 0px 1000px #fff inset;
                    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
                    -webkit-text-fill-color: #000;
                }
            }
        }

        button {
            &.instead {
                color: #7d85cb;
                margin-top: 10px;
            }
        }
    }

    .error-message {
        p {
            margin-bottom: 0;
        }
    }

    .sign-out-button {
        margin-top: 10px;
    }

    @media (prefers-color-scheme: dark) {
        .sign-in-form-container {
            background-color: #000;

            form {
                input {
                    /* for Chrome autocomplete */
                    &:-webkit-autofill,
                    &:-webkit-autofill:focus {
                        box-shadow: 0 0 0px 1000px #000 inset;
                        -webkit-box-shadow: 0 0 0px 1000px #000 inset;
                        -webkit-text-fill-color: #fff;
                    }
                }
            }

            button {
                &.instead {
                    color: #c6cbff;
                }
            }
        }
    }

    @media only screen and (max-height: 500px) {
        background-size: auto 70vh;
    }
}
