.sign-in {
    min-height: 100%;
    background-image: url("../images/sign-in-bg.jpg");
    background-position: center;
    background-size: auto 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    @media only screen and (max-height: 500px) {
        background-size: auto 70vh;
    }

    &::before {
        background-color: #7d85cb;
        content: "";
        opacity: 0.9;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
    }

    .sign-in-form-container {
        width: 250px;
        background-color: #fff;
        border-radius: 20px;
        box-sizing: border-box;
        margin: 20px;
        text-align: center;
        padding: 30px;
        position: relative;
        z-index: 1;

        .logo {
            height: 100px;
        }

        h1 {
            font-size: 36px;
            font-weight: 400;
            margin: 10px 0;
        }

        button,
        input {
            border-radius: 0;
            -webkit-appearance: none;
        }

        form::selection,
        button.instead,
        input {
            background: transparent;
            border: 0;
            outline: 0;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            &::selection,
            button[type="submit"],
            input {
                font-size: 20px;
            }

            &::selection,
            input {
                border-bottom: 1px solid #555;
            }

            button[type="submit"] {
                height: 30px;
                width: fit-content;
                background-color: #7d85cb;
                border: 0;
                border-radius: 5px;
                color: #fff;
                margin: 5px auto;
                padding: 0 8px;
            }

            input[type="password"] {
                font-family: "Arial", sans-serif !important;

                &::placeholder {
                    font-family: "Rajdhani", sans-serif;
                }
            }
        }

        button {
            &:hover {
                cursor: pointer;
                color: black !important;
            }

            &.instead {
                color: #7d85cb;
                font-size: 16px;
                margin-top: 10px;
                text-decoration: underline;
            }
        }
    }

    @media (prefers-color-scheme: dark) {
        .sign-in-form-container {
            background-color: #000;
            color: #fff;

            form {
                &::selection,
                input {
                    border-bottom: 1px solid #fff;
                }

                input {
                    color: white;

                    &::placeholder {
                        color: #aaa;
                    }
                }
            }

            button {
                &.instead:hover {
                    color: white !important;
                }
            }
        }
    }
}
