@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

html,
body,
#root {
    height: 100%;
}

body {
    background-color: #979ed5;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
button,
input {
    font-family: "Rajdhani", sans-serif;
}

button,
input {
    border-radius: 0;
    -webkit-appearance: none;
}

button:hover {
    cursor: pointer;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: #fff;
    }
}
